<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
	<configSections>
		<sectionGroup name="framework" type="Framework.Config.FrameworkSectionGroup">
			<section name="data" type="Framework.Config.Framework.DataSection" />
			<sectionGroup name="security" type="Framework.Config.Framework.SecuritySectionGroup">
				<section name="authentication" type="Framework.Config.Framework.Security.AuthenticationSection" />
				<section name="authorization" type="Framework.Config.Framework.Security.AuthorizationSection" />
			</sectionGroup>
			<section name="net" type="Framework.Config.Framework.NetSection" />
			<section name="encryption" type="Framework.Config.Framework.EncryptionSection" />
			<section name="hash" type="Framework.Config.Framework.HashSection" />
			<section name="log" type="Framework.Config.Framework.LogSection" />
			<section name="email" type="Framework.Config.Framework.EmailSection"/>
		</sectionGroup>
		<section name="paypal" type="Framework.PayPal.Config.PayPalSection" />
		<section name="lucene" type="Lib.Search.Config.LuceneSection" />
	</configSections>

  <connectionStrings configSource="ConnectionStrings.config" />

	<framework>
		<security>
			<authentication connection="FDARems" hash="sha512">
				<user table="Users" idcol="ID" />
				<group table="Groups" idcol="ID" />
			</authentication>
			<authorization connection="FDARems">
				<role table="Roles" idcol="ID" />
			</authorization>
		</security>
		<net>
			<sites>
				<site name="FDARems" current="true" prod="http://remslogic.com" dev="http://dev.remslogic.com" />
				<site name="PayPal" prod="https://api-3t.paypal.com/nvp" dev="https://api-3t.sandbox.paypal.com/nvp" />
			</sites>
		</net>
		<encryption key="gGh9OSJ1VO9El7sVbIFNn3g8PQdPgbMh" iv="Bn0NCP2iDWM=" />
		<hash method="sha512" salt="ldBtwebzEWcCNRtzlGDc+1d7FLbse13bB35QvaPXYkA=" default-encoding="utf-8" output-type="hex" />
		<log enabled="true">
			<errors email="true" sendto="errors@bafmin.com" />
		</log>
		<email>
			<template path="~/Templates" />
		</email>
	</framework>

	<paypal currEnviron="sandbox">
		<sandbox user="tjmonk_1345227950_biz_api1.gmail.com" pwd="1345227982" sig="AFcWxV21C7fd0v3bYYYRCpSSRl31AhuNQ3HmRibP7MLJH7r7B4d-h8Sj" />
		<prod user="" pwd="" sig="" />
	</paypal>

	<lucene indexDir="C:\Sites\remslogic.com\dev_lucene" />

	<system.net>
		<mailSettings>
			<smtp from="no_reply@remslogic.com" deliveryMethod="Network">
				<network host="smtpout.secureserver.net" port="25" userName="info@remslogic.com" password="Safety1" enableSsl="false" />
			</smtp>
		</mailSettings>
	</system.net>

	<system.web>
		<httpRuntime requestValidationMode="2.0" />
		<compilation debug="true" targetFramework="4.0" />
		<customErrors mode="Off">
			<error statusCode="404" redirect="~/Errors/404.aspx"/>
		</customErrors>
		<pages validateRequest="false">
			<controls>
				<add tagPrefix="site" assembly="Lib" namespace="Lib.Web.Controls" />
			</controls>
		</pages>
	</system.web>

	<system.webServer>
		<rewrite>
			<rules>
				<rule name="API" stopProcessing="true">
					<match url="^api/(.+)/?$" />
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
					</conditions>
					<action type="Rewrite" url="API.ashx?p={R:1}" />
				</rule>
				<rule name="404" stopProcessing="true">
					<match url="^(.+)$" />
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
					</conditions>
					<action type="Rewrite" url="Errors/404.aspx" />
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
</configuration>
