<div style="font-family: arial; font-size: 12pt;">
    <div style="margin-bottom: 32px;">
        <p>
            {{Message}}
        </p>
        <p>
            <a href="http://app.remslogic.com/SignUp.aspx#prescriber/wizards/landing-page?token={{Token}}">http://dev.remslogic.com/SignUp.aspx#prescriber/wizards/first-login?token={{Token}}</a>
        </p>
    </div>
  <div>
    Follow Us :
    <a href="http://www.linkedin.com/company/3476476?trk=vsrp_companies_res_name&amp;trkInfo=VSRPsearchId%3A1647155941386896192949%2CVSRPtargetId%3A3476476%2CVSRPcmpt%3Aprimary" target="_blank">
      <img src="https://ci4.googleusercontent.com/proxy/CqNBuI9kJ8FtXDoOY93pvwGyR-c3mhfLxj95BWJ2NY_ojdteNRzPYlGBlX0QGCojebBhK246KrYeKpmdZQsis1kgNSx6a4qOBGfNmbNcKDLMv_eZQsL3EkNBNQ=s0-d-e1-ft#http://s.c.lnkd.licdn.com/scds/common/u/img/webpromo/btn_in_20x15.png" alt="View Marie Link's LinkedIn profile" border="0" height="15" width="20">
    </a>  
  </div>
  <div style="font-size: 10pt; color: #666666; margin-bottom: 32px;">
    <span>This email was sent to </span><a href="mailto:{{EmailAddress}}" target="_blank">{{EmailAddress}}</a>
  </div>
    <div style="font-size: 10pt; color: #666666; margin-bottom: 16px;">
        <span>Copyright {{Year}}, REMS Logic.  All Rights Reserved</span>
    </div>
  <div style="font-size: 10pt; margin-bottom: 16px;">
      <span>P.O. Box 602, Chagrin Falls, OH 44022, USA</span>
  </div>
  <div style="font-size: 10pt; margin-bottom: 16px;">
    <a href="http://remslogic.com/Privacy.aspx">Privacy Statement</a>
  </div>
</div>