<div style="font-family: arial; font-size: 12pt;">
    <div style="margin-bottom: 32px;">
        <p>
            {{Message}}
        </p>
        <p>
            <a href="http://app.remslogic.com/SignUp.aspx#prescriber/wizards/landing-page?token={{Token}}">http://dev.remslogic.com/SignUp.aspx#prescriber/wizards/first-login?token={{Token}}</a>
        </p>
    </div>
  <div style="font-size: 10pt; color: #666666; margin-bottom: 32px;">
    <span>This email was sent to </span><a href="mailto:{{EmailAddress}}" target="_blank">{{EmailAddress}}</a>
  </div>
    <div style="font-size: 10pt; color: #666666; margin-bottom: 16px;">
        <span>Copyright {{Year}}, REMS Logic.  All Rights Reserved</span>
    </div>
  <div style="font-size: 10pt; margin-bottom: 16px;">
      <span>P.O. Box 602, Chagrin Falls, OH 44022, USA</span>
  </div>
  <div style="font-size: 10pt; margin-bottom: 16px;">
    <a href="http://remslogic.com/Privacy.aspx">Privacy Statement</a>
  </div>
</div>