<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="FDARems" connectionString="Data Source=localhost;Initial Catalog=devfdarems;User Id=devfdarems;Password=5m3R!5m3R;"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
